@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.font.im/css?family=Anton|Quicksand|Ruslan+Display');

:root {
  --theme-bg: #fff;
  --theme-color: #000;
  --theme-shadow: initial;
}

[data-theme='dark'] {
  --theme-bg: #000;
  --theme-color: #fff;
  --theme-shadow: #fff;
}